.App {
  text-align: left;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:green;
}
section{

  outline-style: solid;
  outline-color: blue;
  justify-content: left;
}

li button{
 
  margin-left: 300px;

  
}
aside{
  text-align: left;
  outline-style: solid;
  outline-color: blue;
  width: 40%;
  
}
